*{
margin:0px;
padding:0px;
font-family: sans-serif;
}

#contenedor{
    width: 1031px;
    padding: 20px;
    background-color: lightgray;
    margin: 20px auto;
}

#encabezado{
    
}

#encabezado p{
    width: 48px;
    height: 46px;
    display: inline-block;
    text-align: center;
    color: red;
    vertical-align: top;
    font-size:12px;
    
}

.caja-vacia{
    width: 48px;
    height: 30px;
    padding-top:18px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size:12px;
    color: red;
}

.caja{
    width: 46px;
    height: 46px;
   margin-bottom: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size:12px;
    border: 1px solid black;
}

.elemento {
    font-size:16px;
    font-weight: bold;
    color: blue;
}

.azul {
    background-color: aqua;
}

.rojo{
    background-color: indianred;
}

.amarillo {
    background-color: yellow;
}

.verde{
    background-color: limegreen;
}

#bloque-1{
    width: 154px;
    margin-right: 15px;
    display: inline-block;
}

.margin-der{
    margin-right: 16px   ;
}

#bloque-2{
    width: 521px;
    display: inline-block;
}

#bloque-3{
    width: 320px;
    display: inline-block;
}

#bloque-4{
    width: 152px;
    display: inline-block;
    margin-left: 18px;
    vertical-align: top;
}

#bloque-4 p{
    color: red;
    font-size:14px;
    display: inline-block;
    margin: 35px 0px 0px 32px;
}

#bloque-5{
    width: 730px;
    display: inline-block;
    margin-top: 18px;
}

